body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #ffffff;
    text-align: center;
    padding: 50px 0;
}

.header-content h1 {
    font-size: 36px;
    margin: 10px 0;
}

.header-content p {
    font-size: 18px;
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    text-decoration: none;
    margin: 0 10px;
}

.social-icons img {
    width: 30px;
    height: auto;
}

.poli {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 40px;
    margin-left: 100px;
}

.poli img{
    width: 150px;
    height: auto;
}

.poli2 {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 80px;
    margin-left: 1100px;
}

.poli2 img {
    width: 150px;
    height: auto;
}

.decorative-border {
    border: 2px dashed #333;
    border-radius: 10px;
    padding: 20px;
}

.gradient-background {
    background: linear-gradient(to bottom, #ff9900, #ffcc00);
    padding: 20px;
}

h2::after {
    content: "";
    display: block;
    width: 50px;
    height: 2px;
    background-color: #333;
    margin-top: 10px;
}

.card {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

body {
    background-color: #fdde89;
}

#ecuaciones{
    background-color: #ffcd9a;
    padding: 20px;
    border-radius: 10px;
}

#interpolacion {
    background-color: #fdde89;
    padding: 20px;
    border-radius: 10px;
}

#ecuaciones p, #interpolacion p{
    font-size: 18px;
    line-height: 1.5;
}

#ecuaciones, #interpolacion {
    border: 7px solid #ffffff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

#ecuaciones h2, #interpolacion h2 {
    font-size: 24px;
    margin-bottom: 10px;
}


#about {
    background-color: #fdde89;
    padding: 20px;
    border-radius: 10px;
    padding: 100px 0;
    margin-left: 20px;
}

.about-content h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.about-content p {
    font-size: 18px;
}